@model CRS.Entity.Models.Student

@{
    ViewBag.Title = "Student Details";
}

<h2>Student Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CGPA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CGPA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Program.ProgramName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Program.ProgramName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
