@model IEnumerable<CRS.Entity.Models.Program>

@{
    ViewBag.Title = "Program Index";
}

<h2>Program Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="program-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProgramName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department.DepartmentName)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
    @foreach (var item in Model)
     {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProgramName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
     }
     </tbody>

</table>

@section Scripts {
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $("#program-table").DataTable({
                "lengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
                "columns": [
                    null,
                    null,
                    {
                        "searchable": false,
                        "sortable": false
                    }
                ]
            });
        });
    </script>
}

@section Styles {
    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
}