@model IEnumerable<CRS.Entity.Models.Department>

@{
    ViewBag.Title = "Department Index";
}

<h2>Department Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table" id="department-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts {
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $("#department-table").DataTable({
                "lengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
                "columns": [
                    null,
                    {
                        "searchable": false,
                        "sortable": false
                    }
                ]
            });
        });
    </script>
}

@section Styles {
    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
}