@model IEnumerable<CRS.Entity.Models.StudentCourseAssociation>

@{
    ViewBag.Title = "Enrollment Index";
}

<h2>Enrollment Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table" id="student-course-association-table">
    <thead>
        <tr>
            <th>
                StudentId
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marks)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
     {
         <tr>
             <td>
                 @Html.DisplayFor(modelItem => item.Student.Id)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Course.CourseName)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Marks)
             </td>
             <td>
                 @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                 @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                 @Html.ActionLink("Delete", "Delete", new { id = item.Id })
             </td>
         </tr>
     }
    </tbody>

</table>

@section Scripts {
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $("#student-course-association-table").DataTable({
                "lengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "All"]],
                "columns": [
                    null,
                    null,
                    null,
                    {
                        "searchable": false,
                        "sortable": false
                    }
                ]
            });
        });
    </script>
}

@section Styles {
    <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
}